<a href="https://colab.research.google.com/github/SmitaS1/deep-learning-challenge/blob/main/AlphabetSoupCharity_Optimization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [53]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from tensorflow import keras
from keras.models import Sequential
from keras.layers import Dense, Dropout, Activation, Flatten


#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [54]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns =['EIN'])
application_df

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...
34294,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [55]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [56]:
# Look at APPLICATION_TYPE value counts for binning
app_type_val_count = application_df['APPLICATION_TYPE'].value_counts()
app_type_val_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [57]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_type_val_count[app_type_val_count < 500 ].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [58]:
# Look at CLASSIFICATION value counts for binning
classification_types = application_df['CLASSIFICATION'].value_counts()
classification_types

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [60]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classifications_cleaned = classification_types.loc[classification_types> 1]
classifications_cleaned.head()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [61]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_types[classification_types <1000].index)
cutoff_value_classification = 104

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [64]:
# Look at NAME value counts for binning
name_counts = application_df['NAME'].value_counts()
name_counts

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [68]:
# Choose a cutoff value and create a list of names to be replaced
names_to_replace = list(name_counts[name_counts < 100].index)

# Replace in dataframe
for name in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(
        name, "Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                                                 25987
PARENT BOOSTER USA INC                                                 1260
TOPS CLUB INC                                                           765
UNITED STATES BOWLING CONGRESS INC                                      700
WASHINGTON STATE UNIVERSITY                                             492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                         408
PTA TEXAS CONGRESS                                                      368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                           331
ALPHA PHI SIGMA                                                         313
TOASTMASTERS INTERNATIONAL                                              293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                       287
LITTLE LEAGUE BASEBALL INC                                              277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                                266
MOMS CLUB                                                               210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION      206
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                                197
FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                    166
KNIGHTS OF COLUMBUS                                                     158
HABITAT FOR HUMANITY INTERNATIONAL INC                                  154
TENNESSEE ORDER OF THE EASTERN STAR                                     151
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY                 144
PTA UTAH CONGRESS                                                       140
THE UNITED STATES PONY CLUBS INC                                        136
CIVITAN INTERNATIONAL                                                   131
SIGMA BETA DELTA INC                                                    127
HONOR SOCIETY OF PHI KAPPA PHI                                          107
MONTANA 4-H FOUNDATION INC                                              107
WASHINGTON STATE GRANGE                                                 106
UNIVERSITY OF WYOMING                                                   105
DEMOLAY INTERNATIONAL                                                   104
SERTOMA INC                                                             103
Name: NAME, dtype: int64

In [69]:
# Convert categorical data to numeric with `pd.get_dummies`
application_numeric = pd.get_dummies(application_df)
application_numeric.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN,NAME_CIVITAN INTERNATIONAL,NAME_DEMOLAY INTERNATIONAL,NAME_FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA,NAME_HABITAT FOR HUMANITY INTERNATIONAL INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [71]:
# Split our preprocessed data into our features and target arrays
X = application_numeric.drop(['IS_SUCCESSFUL'], axis=1)
y = application_numeric['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=58)

In [72]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [73]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 10
hidden_nodes_layer2 = 8
hidden_nodes_layer3= 6

nn_model2 = tf.keras.models.Sequential()

# First hidden layer
nn_model2.add(tf.keras.layers.Dense(units=hidden_nodes_layer1,
             input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn_model2.add(tf.keras.layers.Dense(
    units=hidden_nodes_layer2, activation="sigmoid"))

# Third hidden layer
nn_model2.add(tf.keras.layers.Dense(
    units=hidden_nodes_layer3, activation="sigmoid"))

# Output layer
nn_model2.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))


# Check the structure of the model
nn_model2.summary()

Model: "sequential_10"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_29 (Dense)            (None, 10)                750

 dense_30 (Dense)            (None, 8)                 88

 dense_31 (Dense)            (None, 6)                 54

 dense_32 (Dense)            (None, 1)                 7

=================================================================
Total params: 899 (3.51 KB)
Trainable params: 899 (3.51 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [74]:
# Compile the model
nn_model2.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [75]:
# Train the model
fit_model2 = nn_model2.fit(X_train_scaled, y_train, epochs=30)

Epoch 1/30
804/804 [==============================] - 2s 1ms/step - loss: 0.6635 - accuracy: 0.6186
Epoch 2/30
804/804 [==============================] - 1s 1ms/step - loss: 0.5592 - accuracy: 0.7455
Epoch 3/30
804/804 [==============================] - 1s 1ms/step - loss: 0.5295 - accuracy: 0.7502
Epoch 4/30
804/804 [==============================] - 1s 1ms/step - loss: 0.5170 - accuracy: 0.7547
Epoch 5/30
804/804 [==============================] - 1s 1ms/step - loss: 0.5120 - accuracy: 0.7575
Epoch 6/30
804/804 [==============================] - 1s 1ms/step - loss: 0.5089 - accuracy: 0.7539
Epoch 7/30
804/804 [==============================] - 1s 2ms/step - loss: 0.5050 - accuracy: 0.7573
Epoch 8/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5019 - accuracy: 0.7562
Epoch 9/30
804/804 [==============================] - 1s 1ms/step - loss: 0.4998 - accuracy: 0.7575
Epoch 10/30
804/804 [==============================] - 1s 1ms/step - loss: 0.4981 - accuracy: 0.7578
Epoch 11/30
804/804 [==============================] - 1s 2ms/step - loss: 0.4970 - accuracy: 0.7573
Epoch 12/30
804/804 [==============================] - 1s 1ms/step - loss: 0.4963 - accuracy: 0.7583
Epoch 13/30
804/804 [==============================] - 1s 1ms/step - loss: 0.4950 - accuracy: 0.7583
Epoch 14/30
804/804 [==============================] - 1s 1ms/step - loss: 0.4949 - accuracy: 0.7577
Epoch 15/30
804/804 [==============================] - 1s 2ms/step - loss: 0.4941 - accuracy: 0.7598
Epoch 16/30
804/804 [==============================] - 3s 4ms/step - loss: 0.4938 - accuracy: 0.7590
Epoch 17/30
804/804 [==============================] - 2s 3ms/step - loss: 0.4934 - accuracy: 0.7593
Epoch 18/30
804/804 [==============================] - 1s 1ms/step - loss: 0.4929 - accuracy: 0.7592
Epoch 19/30
804/804 [==============================] - 1s 1ms/step - loss: 0.4927 - accuracy: 0.7600
Epoch 20/30
804/804 [==============================] - 1s 1ms/step - loss: 0.4922 - accuracy: 0.7601
Epoch 21/30
804/804 [==============================] - 1s 1ms/step - loss: 0.4919 - accuracy: 0.7591
Epoch 22/30
804/804 [==============================] - 1s 1ms/step - loss: 0.4916 - accuracy: 0.7579
Epoch 23/30
804/804 [==============================] - 1s 1ms/step - loss: 0.4912 - accuracy: 0.7590
Epoch 24/30
804/804 [==============================] - 1s 1ms/step - loss: 0.4913 - accuracy: 0.7588
Epoch 25/30
804/804 [==============================] - 2s 2ms/step - loss: 0.4909 - accuracy: 0.7601
Epoch 26/30
804/804 [==============================] - 1s 1ms/step - loss: 0.4902 - accuracy: 0.7603
Epoch 27/30
804/804 [==============================] - 1s 1ms/step - loss: 0.4908 - accuracy: 0.7598
Epoch 28/30
804/804 [==============================] - 1s 1ms/step - loss: 0.4905 - accuracy: 0.7593
Epoch 29/30
804/804 [==============================] - 1s 1ms/step - loss: 0.4902 - accuracy: 0.7607
Epoch 30/30
804/804 [==============================] - 1s 1ms/step - loss: 0.4901 - accuracy: 0.7609

In [76]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model2.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4940 - accuracy: 0.7555 - 470ms/epoch - 2ms/step
Loss: 0.49400851130485535, Accuracy: 0.7554519176483154

In [65]:
# Check the data types for each column
application_df.dtypes

NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [66]:
# categorical_list will contain the names of all columns in application_df that have the data type "object", indicating they are categorical variables
categorical_list = application_df.dtypes[application_df.dtypes =="object"].index.tolist()
categorical_list

['NAME',
 'APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [67]:
# Convert categorical data to numeric with `pd.get_dummies`
df_dummies = pd.get_dummies(application_df)
df_dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC,NAME_100 BLACK MEN OF AMERICA,NAME_100 BLACK MEN OF MEMPHIS INC,NAME_100 BLACK MEN OF WEST GEORGIA INC,NAME_1150 WEBSTER STREET INC,NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION,NAME_13TH BOMB SQUADRON ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [ ]:
# Drop the column IS_SUCCESSFUL from the application_df dummy dataframe
df_clean_dummies = df_dummies.drop(columns='IS_SUCCESSFUL').values
df_clean_dummies

array([[       1,     5000,        0, ...,        0,        1,        0],
       [       1,   108590,        0, ...,        0,        1,        0],
       [       1,     5000,        0, ...,        0,        1,        0],
       ...,
       [       1,     5000,        0, ...,        0,        1,        0],
       [       1,     5000,        0, ...,        0,        1,        0],
       [       1, 36500179,        0, ...,        0,        1,        0]])

In [44]:
# Split our preprocessed data into our features and target arrays
y= df_dummies['IS_SUCCESSFUL'].values
X= df_dummies.drop(columns='IS_SUCCESSFUL').values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [45]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [46]:
# The code calculates the total number of input features in the training data (X_train),  which represents a single data point.
input_features_total = len(X_train[0])
input_features_total

50

In [47]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features_total = len(X_train[0])

hidden_nodes_layer1 = 8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim = input_features_total, activation = "relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation = "relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation = "sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_9"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_26 (Dense)            (None, 8)                 408

 dense_27 (Dense)            (None, 5)                 45

 dense_28 (Dense)            (None, 1)                 6

=================================================================
Total params: 459 (1.79 KB)
Trainable params: 459 (1.79 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [48]:
# Compile the model
nn.compile(loss='binary_crossentropy',optimizer='adam',metrics= ['accuracy'])

In [49]:
# The shape of a NumPy array represents its dimensions, the number of elements in the array.
print(y_train.shape)

(25724,)

In [50]:
# Train the model
fit_model =nn.fit(X_train_scaled,y_train,epochs =100)

Epoch 1/100
804/804 [==============================] - 2s 1ms/step - loss: 0.6031 - accuracy: 0.6918
Epoch 2/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5645 - accuracy: 0.7243
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5572 - accuracy: 0.7286
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5540 - accuracy: 0.7293
Epoch 5/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5520 - accuracy: 0.7302
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5508 - accuracy: 0.7299
Epoch 7/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5499 - accuracy: 0.7290
Epoch 8/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5491 - accuracy: 0.7308
Epoch 9/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5482 - accuracy: 0.7304
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5482 - accuracy: 0.7301
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5477 - accuracy: 0.7307
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5475 - accuracy: 0.7312
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5472 - accuracy: 0.7308
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5472 - accuracy: 0.7313
Epoch 15/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5467 - accuracy: 0.7316
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5466 - accuracy: 0.7318
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5465 - accuracy: 0.7313
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5463 - accuracy: 0.7322
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5462 - accuracy: 0.7325
Epoch 20/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5461 - accuracy: 0.7322
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5461 - accuracy: 0.7325
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5458 - accuracy: 0.7319
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5457 - accuracy: 0.7317
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5460 - accuracy: 0.7330
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5453 - accuracy: 0.7328
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5449 - accuracy: 0.7329
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5453 - accuracy: 0.7322
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5451 - accuracy: 0.7314
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7319
Epoch 30/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5449 - accuracy: 0.7327
Epoch 31/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5450 - accuracy: 0.7328
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7334
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7332
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7341
Epoch 35/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5443 - accuracy: 0.7335
Epoch 36/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5442 - accuracy: 0.7348
Epoch 37/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5442 - accuracy: 0.7333
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5444 - accuracy: 0.7335
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7329
Epoch 40/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5438 - accuracy: 0.7335
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5442 - accuracy: 0.7328
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5434 - accuracy: 0.7329
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7332
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5436 - accuracy: 0.7345
Epoch 45/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7336
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5437 - accuracy: 0.7345
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5436 - accuracy: 0.7343
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5435 - accuracy: 0.7334
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5433 - accuracy: 0.7327
Epoch 50/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5432 - accuracy: 0.7337
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5432 - accuracy: 0.7343
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5429 - accuracy: 0.7348
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5432 - accuracy: 0.7345
Epoch 54/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5434 - accuracy: 0.7338
Epoch 55/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5428 - accuracy: 0.7350
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5430 - accuracy: 0.7348
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5431 - accuracy: 0.7339
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5432 - accuracy: 0.7336
Epoch 59/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5431 - accuracy: 0.7336
Epoch 60/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5429 - accuracy: 0.7334
Epoch 61/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5429 - accuracy: 0.7345
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5430 - accuracy: 0.7344
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5429 - accuracy: 0.7334
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5427 - accuracy: 0.7344
Epoch 65/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5425 - accuracy: 0.7349
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5426 - accuracy: 0.7350
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5427 - accuracy: 0.7343
Epoch 68/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5425 - accuracy: 0.7342
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5426 - accuracy: 0.7344
Epoch 70/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5427 - accuracy: 0.7345
Epoch 71/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5425 - accuracy: 0.7340
Epoch 72/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5425 - accuracy: 0.7356
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5425 - accuracy: 0.7346
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5423 - accuracy: 0.7353
Epoch 75/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5424 - accuracy: 0.7346
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5423 - accuracy: 0.7350
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5422 - accuracy: 0.7341
Epoch 78/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5421 - accuracy: 0.7355
Epoch 79/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5423 - accuracy: 0.7345
Epoch 80/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5424 - accuracy: 0.7342
Epoch 81/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5422 - accuracy: 0.7352
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5422 - accuracy: 0.7350
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5419 - accuracy: 0.7354
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5422 - accuracy: 0.7347
Epoch 85/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5422 - accuracy: 0.7346
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5420 - accuracy: 0.7352
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5422 - accuracy: 0.7351
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5421 - accuracy: 0.7349
Epoch 89/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5418 - accuracy: 0.7343
Epoch 90/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5421 - accuracy: 0.7353
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5422 - accuracy: 0.7352
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5421 - accuracy: 0.7342
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5419 - accuracy: 0.7344
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5422 - accuracy: 0.7351
Epoch 95/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5421 - accuracy: 0.7349
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5421 - accuracy: 0.7354
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5420 - accuracy: 0.7349
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5419 - accuracy: 0.7350
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5419 - accuracy: 0.7348
Epoch 100/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5419 - accuracy: 0.7350

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5592 - accuracy: 0.7241 - 309ms/epoch - 1ms/step
Loss: 0.5592164993286133, Accuracy: 0.7240816354751587